
<!-- <div *ngIf="isUpdate">There is an update..!</div> -->

<!-- <button [routerLink]="['/stateDistrict']">State District</button><br> -->

<!-- <button [routerLink]="['/filter']">FilterPage</button><br>
<button (click)="singIn('Google');" style="background-color: blue !important">Sign in with Google</button><br /><br />
<button (click)="singIn('Facebook');" style="background-color: blue !important">Sign in with Facebook</button><br /><br />

<button (click)="signOut();" style="background-color: blue !important">Sign out</button><br /><br />
 
<div *ngIf="user">
  <img src="{{ user.photoUrl }}" style="border-radius: 50px">
  <h4>{{ user.name }}</h4>
  <p>{{ user.email }}</p>
</div> -->
<router-outlet></router-outlet>
<block-ui>
    <!-- Your app markup here -->
  </block-ui>